.cardMovie {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 170px;
    border: 1px solid bisque;
    border: 1px solid bisque;
}

.card-New{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardMovie{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 170px;
    border: 1px solid bisque;
}