.NavBarHome{
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 28);
}

.navLinkHomeCss{
    color: bisque;
}

.divNav{
    border: 1px solid bisque;
    width: 100%;
    height: 100%;
}
